@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family : 'Outfit', sans-serief;
    background-color: hsl(212, 45%, 89%);
    display: flex;
    align-items: center;
    min-height: 100vh;
    font-size: 15px;
}
.container{
    max-width: 350px;
    margin: 0 auto;
    align-items: center;
}
.card img{
    width: 100%;
    border-radius: 15px;
}
.card{
    background-color: hsl(0, 0%, 100%);
    padding: 18px;
    border-radius: 20px;
    text-align: center;
    margin: 0 1em;
}
.text{
    padding: 20px;
}
.text h2{
    color: hsl(218, 44%, 22%);
    padding-bottom: 18px;
}